<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hoox</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <div id="header">
        <p style="color:white">header</p>
    </div>

    <div id="content">
        <% include main %>
    </div>


    <div id="root"></div>
    <script src="js/bundle.js"></script>
</body>
</html>
