<% layout('index') -%>

<div id="myCarousel"></div>

<div id="main-root" class="row">
    <div id="recommend" class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
        <p class="title">เพลย์ลิสต์แนะนำ</p>
        <hr class="line">
        <div id="recommend-content">

        </div>
    </div>
    <div id="topten" class="col-xs-5 col-sm-5 col-md-4 col-lg-3" style="background-color: #000000">
        <p class="title">TOP 10 CHART</p>
        <div id="topten-content"></div>
    </div>
</div>

<script src="js/main-bundle.js"></script>

